<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>
        Data Science Deployment Project
    </title>


    <style>
    .heading{
            text-align: center;
            color:white; 
    }
    body{
        background-color: black
    }

    .mini-heading
    {
        text-align: center;
        color:white;
    }
    </style>
</head>

<body>
    <h1 class='heading'>
        Regression Model Deployment
    </h1>

    <h3 class='text-muted mini-heading' >

        Enter the details below and then let the model predict!
    
    </h3>

</body>