<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>
        Data Science Deployment Project
    </title>


    <style>
    .heading{
            text-align: center;
            color:white; 
    }
    body{
        background-color: black
    }

    .mini-heading
    {
        text-align: center;
        color:white;
    }

    .whiteclass
    {
        text-align: left;
        color:white;

    }

    .submitbutton
    {
        padding: 20px;
    }

    .checksomething
    {
        background-color: rgba(10, 9, 9, 0.411);
    }

    .prediction
    {
        text-align: center;
        color:white;
    }

    </style>
</head>

<body>
     {{form.hidden_tag()}}
    <h1 class='heading'>
        Regression Model Deployment
    </h1>

    <h3 class='text-muted mini-heading' >
        Enter the details below and then let the model predict!
    </h3>
    <div class="row justify-content-center checksomething">
                                        <form class="user formtoenter" method="POST" action="">
                                                {{form.hidden_tag()}}


                                        
                                            <div class="form-group whiteclass">
                                                {{ form.age.label(class="form-control-label") }}
                                            </div>
                                            <div>
                                                {{ form.age()}}
                                            </div>



                                            <div class="form-group whiteclass">
                                                    {{ form.time_in_hospital.label(class="form-control-label") }}
                                                </div>
                                                <div>
                                                    {{ form.time_in_hospital}}
                                                </div>





                                                <div class="form-group whiteclass">
                                                        {{ form.num_medications.label(class="form-control-label") }}
                                                    </div>
                                                    <div>
                                                        {{ form.num_medications}}
                                                    </div>





                                                    <div class="form-group whiteclass">
                                                            {{ form.number_diagnoses.label(class="form-control-label") }}
                                                        </div>
                                                        <div>
                                                            {{ form.number_diagnoses}}
                                                        </div>




                                                        <div class="form-group whiteclass">
                                                                {{ form.metformin.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.metformin}}
                                                            </div>

                                                
                                                            <div class="form-group whiteclass">
                                                                {{ form.chlorpropamide.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.chlorpropamide}}
                                                            </div>


                                                            <div class="form-group whiteclass">
                                                                {{ form.glimepiride.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.glimepiride}}
                                                            </div>




                                                            <div class="form-group whiteclass">
                                                                {{ form.tolazamide.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.tolazamide}}
                                                            </div>




                                                            <div class="form-group whiteclass">
                                                                {{ form.insulin.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.insulin}}
                                                            </div>





                                                            <div class="form-group whiteclass">
                                                                {{ form.race.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.race}}
                                                            </div>



                                            

                                                            <div class="form-group whiteclass">
                                                                {{ form.admission_type_id.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.admission_type_id}}
                                                            </div>
                                                            


                                                            <div class="form-group whiteclass">
                                                                {{ form.admission_source_id.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.admission_source_id}}
                                                            </div>
                                                            

                                                            <div class="form-group whiteclass">
                                                                {{ form.max_glu_serum.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.max_glu_serum}}
                                                            </div>
                                                            

                                                            <div class="form-group whiteclass">
                                                                {{ form.A1Cresult.label(class="form-control-label") }}
                                                            </div>
                                                            <div>
                                                                {{ form.A1Cresult}}
                                                            </div>
                                        


                                            <div class='text-center submitbutton'>
                                                    {{ form.submit(class='class="btn btn-primary') }}
                                            </div>
                                            
                                        </form>
                                        <div class='prediction'>
                                                <h1>
                                                        {{prediction_text}}
                                                </h1>   
                                        
                                            </div>
    </div>

   
   

</body>